<!-- This is a sub-config file. Additional information can be inserted here, 
and overlapping information will override settings in the main configuration file -->
<config>
    <defaults>
        <private_key>/var/www/dev/phunkybb/config/key.pem</private_key>
        <modulus></modulus>
    </defaults>
    <extensions>
        <dev_buffer>
            <placement>prepend</placement>
            <source>&includepath;extensions/dev_buffer/dev_buffer.php</source>
            <excludes>themed-css,xml-sitemap,account-groups-xml,account-sub-groups-xml,^x-,^dynamic-</excludes>
        </dev_buffer>
        <nexista_auth>
            <placement>prepend</placement>
            <source>&includepath;extensions/nexista_auth.php</source>
            <login>index.php?nid=login</login>
        </nexista_auth>
        <!--
        <nx_cache>
            <placement>prepend</placement>
            <source>&includepath;extensions/nx_cache.php</source>
            <directory>&project_root;/cache/&server_name;/cache/</directory>
            <active>1</active>
            <compress>0</compress>
        </nx_cache>
        -->
    </extensions>
</config>
